.projects-title {
    color: #30475e;
    font-family: 'Courgette', cursive;
    font-size: 35px;
    font-weight: 800;
}


/*****************************Responsiveness*****************************/


@media screen and (max-width: 800px) {
    .projects-title {
        font-size: 25px;
        text-align: center;
    }
}